@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #83e5f4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #87e0f7;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #48daf0 #1a1a1a;
}
